#root {
  text-align: center;
}


.keyArea {
  margin-top: 2em;
  margin-bottom: 2em;
}

#key {
}

.analyze-area {
  margin-top: 2em;
  display: flex;
  border-collapse: collapse;
}
.base64Area, .resArea{
  width: 40%;
  padding-right: 5%;
  padding-left:5%;
  word-wrap: break-word;
  font-size: 0.70em;
}

.base64Area {
  background-color: antiquewhite;
}

.resArea {
  text-align: left;
  background-color: ghostwhite;
}